<!DOCTYPE html>
  <html>
    <head>
    </head>
    
    <body bgcolor="CCCCCC">
  
      <p align="right", bgcolor="999999", text="000000">
       <%= link_to '戻る', clubs_path %>
      </p>
      
      <h1> ⚽サッカー部 </h1>
  
      <p>
      こんにちは、サッカー部です！
      私たちは総勢○○人で日々楽しく活動しています
      11対11に分かれた正式な形の試合から、少人数のミニゲーム
      広いグラウンドを活用した全員参加型など、好きなように楽しむことができます！
      うまさや経験は関係ありません
      少しでも興味を持った方は是非とも遊びに来てください！待ってます！
      </p>
  
  <hr>
  
   //そのまま書き込む？
      <% @dairykatudou.each do |e| %>
        <p>
          <%= e.message %>
          
          //○○月××日、本日の活動
          //今日は5人ずつに分かれ、総当たりのミニゲームを行いました！
          //少人数ならではのポジションの動きや大切さがあるため、
          //新しい自身の発見や楽しみを見つけられました！
          
        </p>
        <p bgcolor="999999", text="000000">
           <%= link_to 'いいね', likes_path(katudou_id: e.id), method: :post %>
        </p>
      <% end %>
    </body>
</html>