<!DOCTYPE html>
  <html>
    <head>
      <style type = "text/css">
        h1{font-size:100px;}
      </style>
    </head>

    <body bgcolor="CCCCCC">
      <h1> Kindai ASA </h1>

      <h2> 在学生用ログインページ </h2>

      <p>
        <%= link_to 'ログイン', stlogin_path %>
      </p>

  <hr>

      <h3> 部活生用ログインページ </h3>

      <p>
        <%= link_to 'ログイン', cllogin_path %>
    </body>
  </html>