<h1>サッカー部　新歓情報</h1>

<%= link_to "Top",home_path %><br>

<h3>開催場所</h3><br>
<p>サッカー部　部室</p><br>
<h3>日付</h3><br>
<p>2021/12/24</p><br>
<h3>時間</h3><br>
<p>18:00~</p><br>
<h3>コメント</h3><br>
<p>今日はサッカーはしません。みんなで鍋をたべましょう</p><br>

