<!DOCTYPE html>
  <html>
    <head>
    </head>

    <body bgcolor="CCCCCC">
      
      <p bgcolor="999999", text="000000">
        <%= link_to 'ログアウト', top_path %>
      </p>
      
      <hr>
        
        <%= link_to '・⚽サッカー部', clsoccer_path %>
    </body>
  </html>